span.outter{
    animation-name: outerGlow;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 500px;
}
span.inner{
    animation-name: innerGlow;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 500px;
    padding: 2px;
    white-space: nowrap; 
}
@keyframes innerGlow{
   from{
          box-shadow: none;  
      }
  to{ 
        box-shadow: inset 0px 0px 26px 3px rgba(245,250,245,1); 
      }
}
@keyframes outerGlow{
    from{
          box-shadow: none;  
      }
  to{ 
        box-shadow: 0px 0px 26px 3px rgba(245,250,245,1); 
      }
}