@font-face{
    font-family: 'Castle';
    src: url("fonts/BLKCHCRY.TTF");
}
@font-face{
    font-family: 'Awesome';
    src: url("fonts/fontawesome-webfont.ttf");
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    background: url("img/background1.jpg") no-repeat no-repeat;
    background-size: cover;
}
header{
    width: 70%;
    background: url("img/castle.jpg") no-repeat no-repeat;
    background-size: cover;
    letter-spacing: 2px;
    height: 700px;
    margin: 0px auto;
    padding: 0px;
    box-shadow: 3px -1px 103px -17px rgba(0,0,0,1);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
header div#logo img{
    width: 150px;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.9;

}
header nav{
    
    display: flex;
    flex-direction: row; 
    opacity: 0.9;
    height: 84px;
    margin: 0px;
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 10%, rgba(89,89,89,1) 32%, rgba(102,102,102,1) 53%, rgba(71,71,71,1) 71%, rgba(0,0,0,1) 80%, rgba(17,17,17,1) 86%, rgba(43,43,43,1) 91%, rgba(44,44,44,1) 97%, rgba(28,28,28,1) 100%);
}
header nav ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    margin: 0px;
    align-items: center;   
    padding: 0px;
    width: 100%;
    justify-content: space-around;
}
header nav li{
   display: flex;
   margin-left: 0px;
   border-radius: 10px;
   text-align: center;
   height: 62px;
  
}
header nav li a{
    font-family: 'Castle', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: white;
    font-size: 1.09em;
    padding: 10px;
    border-radius: 10px;
    height: 42px;
    display: flex;
    align-items: center;
    
}
header nav li a:hover{
    box-shadow: inset 0px 0px 26px 3px rgba(245,250,245,1);
}
header nav li:hover{
    box-shadow: 0px 0px 26px 3px rgba(245,250,245,1);
}
main{
    padding: 0px;
    margin: 0px auto;
    width: 70%;
}
main div{
     display: flex;
}
main div.top-head, div.middle-head, div.bottom-head{
    align-items: center;
}
main h1{
    font-family: 'Castle', sans-serif;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    
}
main section.left figure{
    width: 90%;
    min-width: 250px;
    margin: 0px auto;
}
main section.left figcaption{
    width: 90%;
    margin: 0px auto;
  
}
main img#portrait{
    width: 90%;
    min-width: 250px;
    box-shadow: 3px -1px 103px -17px rgba(0,0,0,1);
    vertical-align: middle;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
main div.top{
        box-shadow: 3px -1px 103px -17px rgba(0,0,0,1);
        border-radius: 50px;
}
section{
    width: 50%;
    background:radial-gradient(ellipse at center, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 0%, rgba(85,85,85,1) 99%, rgba(84,84,84,1) 100%);
}
.decoration{
    width: 33%;  
}
section.right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
section.left{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
section.left article{
    text-align: center;
}
.img-container{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
figure{
    margin: 45px 15px 30px 0px;
    padding: 0px 0px 25px 0px;
    width: 45%;
    text-align: center;
} 
.img-container img{
    height: 150px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 3px -1px 103px -17px rgba(0,0,0,1);
    vertical-align: middle;
}
div#part-two img{
    height: 250px;
    width: 100%;
}
section.left p{
    font-size: 1.2em;
    line-height: 30px;
    text-align: justify;
    margin: 30px 25px 18px 25px; 
}
section.left p::first-letter{
    font-family: 'Castle', sans-serif;
    font-size: 2em;
}
figcaption{
    font-size: 20px;
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 10%, rgba(89,89,89,1) 32%, rgba(102,102,102,1) 53%, rgba(71,71,71,1) 71%, rgba(0,0,0,1) 80%, rgba(17,17,17,1) 86%, rgba(43,43,43,1) 91%, rgba(44,44,44,1) 97%, rgba(28,28,28,1) 100%);
    height: 40px;
    color: lightgrey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 14px;
    font-family: 'Castle', sans-serif;
    font-size: 17px;
    letter-spacing: 1px; 
}
div.middle form{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
div.middle, div.bottom{
    border-radius: 50px;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 0%, rgba(85,85,85,1) 99%, rgba(84,84,84,1) 100%);
}
div.middle form{
    text-align: center;
    margin: 0px auto;
}
main h3, legend{
    font-family: 'Castle', sans-serif;
    letter-spacing: 1px;
    font-size:1.17em;
}
div.middle label, fieldset.response label{
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 10%, rgba(89,89,89,1) 32%, rgba(102,102,102,1) 53%, rgba(71,71,71,1) 71%, rgba(0,0,0,1) 80%, rgba(17,17,17,1) 86%, rgba(43,43,43,1) 91%, rgba(44,44,44,1) 97%, rgba(28,28,28,1) 100%);
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 275px;
    margin: 0px auto;
    height: 25px;
    font-family: 'Castle', sans-serif;
    letter-spacing: 1px;
    padding-top: 5px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    font-family: 'Castle', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
div.middle input, div.middle select, fieldset.response select, fieldset.response input{
    width: 225px;
    border-bottom-left-radius: 10px;
    border: none;
    margin: 0px auto 20px auto;
    padding: 0px 25px 0px 25px;
    height: 30px;
    color: gray;
    font-family: 'Castle', sans-serif;
    letter-spacing: 1px;
}
input#date, input#number{
    text-align: center !important;
    padding: 0px 0px 0px 25px !important;
    width: 250px !important;
    font-family: 'Castle', sans-serif;
    letter-spacing: 1px;
}
 div.middle form select, fieldset.response select{
    padding: 0px 0px 0px 125px !important;
    width: 275px !important;
    font-family: 'Castle', sans-serif;
    letter-spacing: 1px;
 }
.button span{
    font-family: 'Castle', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 10%, rgba(89,89,89,1) 32%, rgba(102,102,102,1) 53%, rgba(71,71,71,1) 71%, rgba(0,0,0,1) 80%, rgba(17,17,17,1) 86%, rgba(43,43,43,1) 91%, rgba(44,44,44,1) 97%, rgba(28,28,28,1) 100%);
    font-weight: 200;
    color: white;
    font-size: 1.09em;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 0px;
    width: 86px;
}
.button{
    border-radius: 10px;
    margin: 0px;
    text-decoration: none;
    padding: 0px;
    width: 96px;
    margin: 30px auto;
}
.button span:hover{
    box-shadow: inset 0px 0px 26px 3px rgba(245,250,245,1);
}
.button:hover{
    box-shadow: 0px 0px 26px 3px rgba(245,250,245,1);
}
.bottom{
    flex-direction: column;
}
.bottom img{
    width: 120px;
    height: 120px;
    position: relative;
    border: 12px solid transparent;
    border-radius: 100px;
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 10%, rgba(89,89,89,1) 32%, rgba(102,102,102,1) 53%, rgba(71,71,71,1) 71%, rgba(0,0,0,1) 80%, rgba(17,17,17,1) 86%, rgba(43,43,43,1) 91%, rgba(44,44,44,1) 97%, rgba(28,28,28,1) 100%);
    box-shadow: 0px 0px 26px 3px rgba(245,250,245,1);
}
.bottom .review{
    flex-direction: row;
    width: 90%;
    margin: 30px 30px 10px 30px;
    border: 5px solid;
    border-radius: 50px;
    border-top-left-radius: 80px;
    box-sizing: border-box;
}
.bottom .commenter, .comment{
    text-align: center;
    flex-direction: column;
}
.bottom .commenter{
    font-family: 'Castle', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 19px;
    width: 20%;
    margin-right: 25px;
}
.bottom .commenter p{
    display: flex;
    padding-left: 25px;
}
.bottom .comment p:first-child{
    margin-top: 20px;
}
.bottom .comment p:nth-child(2){
    margin: 20px 0px 0px 0px;
    font-size: 19px;
    text-align: left;
}
div.comment span.star, select#stars{
    color: yellow;
    font-size: 1.2em;
    font-family: 'Awesome', sans-serif;
}

div.comment{
    width: 70%;
    margin: 0px 10px 10px 0px;
}
fieldset.response{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 20px auto;
    border-radius: 50px;
    border: 5px solid black;
    padding-top: 20px;
}
input#comment-comm{
    -ms-grid-row-span: 5;
}
select#stars{
    background: gray;
    color: yellow;
}
textarea{
    width: 225px;
    border-bottom-left-radius: 10px;
    border: none;
    margin: 0px auto 20px auto;
    padding: 0px 25px 0px 25px;
    color: gray;
    font-family: 'Castle', sans-serif;
    letter-spacing: 1px;
}
.button.submit{
    width: 70px;
}
footer{
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 10%, rgba(89,89,89,1) 32%, rgba(102,102,102,1) 53%, rgba(71,71,71,1) 71%, rgba(0,0,0,1) 80%, rgba(17,17,17,1) 86%, rgba(43,43,43,1) 91%, rgba(44,44,44,1) 97%, rgba(28,28,28,1) 100%);
    color: white;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}
footer p{
    flex-grow: 1;
    width: 33%;
}
footer p:first-child{
    height: 20px;   
    margin: 10px 0px 0px 10px;
}
footer p:nth-child(2){
    text-align: center;
}

a#menu-icon{
    background: url("img/menu-icon.png") no-repeat no-repeat;
    width: 40px;
    margin: auto;
    height: 40px;
    display: none;
}
nav .decoration{
    padding-top: 20px;
    display: none;
}
 header nav:hover ul{
    display: flex;
}
span.outter{
    border-radius: 500px;
}
span.inner{
    border-radius: 500px;
    padding: 2px;
    white-space: nowrap; 
}
.h{
    width: 70%;
    background: url("img/castle-h.jpg") no-repeat no-repeat;
    background-size: cover;
}
.footer-img{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    width: 33%;
    justify-content: flex-end;
}
.footer-img img{
    width: 35px;
    height: 30px;
    margin-top: 7px;
}
